/**.modal-body{
    position: relative !important;
    overflow-y: auto !important;
    width: auto !important;
    padding: 15px !important;
}**/



.modal-content {

/* 80% of window height */

height: 100% !important;

background-color:#BBD6EC !important;

}       

.modal-header {

background-color: #337AB7 !important;

padding:16px 16px !important;

color:#FFF;

border-bottom:2px solid #337AB7 !important;

}

.modal-body{
    background-color: rgb(101, 163, 218) !important;

    padding:16px 16px !important;

    color:#FFF;

    border-bottom:2px solid #337AB7 !important;
    position: relative !important;
    overflow-y: auto !important;
    width: auto !important;
    padding: 15px !important;
}

.modal-footer{
    background-color: #337AB7 !important;

     padding:16px 16px !important;

     color:#FFF;

     border-bottom:2px solid #337AB7 !important;


}